body {
    margin: 0; /*margem para fora */
   padding: 0; /* margem para dentro*/
   font-family: Verdana, Geneva, Tahoma, sans-serif;
   background-color: black;
}
.titulo{
   color: #32b9cd;
   width: fit-content;
    font-weight: 500; /*peso na letra */

}
.navbar{
   width: 300px;
   color: #e3b062;
   list-style: none;
   display: flex;
   justify-content: space-between;
   align-items: center;
}
.navbar a{
   color: #e3b062;
   text-decoration: none;
}
.navbar a:hover{
   color:#32b9cd;
}
.header{
   border-bottom: 3px solid #32b9cd;

}
.container{
   width: 80%;
   margin: auto;
   display: flex;
   
}
.header .container{
   justify-content: space-between;
}
.banner{
   background-image: url(./assets/imagens/bg-jelly-fish-para_outras_pags.png);
   height: 500px;
   color: white;
}
.banner .container{
   justify-content: center;
   align-items: center;
   height: 100%;
}
.caixa{
   display: flex;
   flex-direction: column;
   align-items: center;
    margin-top: 4.5%;
    height: 90%;
    width: 38%;
    background-color: #f7f7f7;
    color: #db7e91;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-weight: bold;
    border-radius: 5px;
}
.inputs{
   height: 70%;
   width: 63%;
   justify-content:flex-start;
   align-items: center;
   margin-top: 22px;
   display: flex;
   flex-direction: column;

}
.texto {
   width: 87%;
   display: flex;
   flex-direction: row;
}

.caixa input{
   height: 30px;
   width: 85%;
   border-style:solid;
   border-color: #32b9cd;
   border-width: 3px;
   border-radius: 10px;
   text-align: center;
   justify-content: center;;

}
.caixa ::placeholder{
   text-align:  center;
}

button{
   background-color:  red;
   height: 40px;
   width: 120px;
   color: white;
   border-style: none;
   border-radius: 5px;
   font-size: 14pt;
 margin-bottom: 20px;
}
.bemVindo{
   padding-top: 25px;
   font-size: 20pt;
}
